# Maven
backend/target/
backend/pom.xml.tag
backend/pom.xml.releaseBackup
backend/pom.xml.versionsBackup
backend/pom.xml.next
backend/release.properties
backend/dependency-reduced-pom.xml
backend/buildNumber.properties
backend/.mvn/timing.properties
backend/.mvn/wrapper/maven-wrapper.jar

# Node
frontend/node_modules/
frontend/dist/
frontend/dist-ssr/
frontend/*.local
frontend/.npm/

# Environment Variables
.env
.env.*
!.env.example

# IDE / OS
.idea/
*.iml
.vscode/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
